* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.npmignore text eol=lf

LICENSE text eol=lf
*.md text eol=lf

*.html text eol=lf

*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf

*.yaml text eol=lf
*.yml text eol=lf
